.button {
  background-color: #5aac44;
  box-shadow: none;
  border: none;
  color: #fff;
  border: 0;
  padding: 5px 10px;
  cursor: pointer;
}

.simple {
  background: none;
  color: #5e6c84;
  padding: 0;
}
